# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Build output
dist/
build/
out/
lib/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# Testing
coverage/

# Misc
.vscode-test/

# Optional lockfiles (uncomment if using)
# pnpm-lock.yaml
